circle {
    cursor: pointer;
}

circle:hover {
    stroke: white;
    stroke-width: 2px;
    /* transform: scale(1.2); */
}

html{
    min-width: 1200px;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #eee;
    position: relative;
}

body {
    width: 1200px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    box-shadow: 0 0 2px #aaa;
}

svg {
    margin-top: 10px;
    background-color: #6699CC22;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 1.56rem;
    justify-content: center;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

#start {
    width: 300px;
    height: 200px;
    line-height: 75px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    z-index: 11;
}


.map-container {
    position: relative;
}

#sound {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 5;
}

#filter-containers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 5px;
}

.dropdowns {
    margin: 10px 10px 10px 0;
    width: 250px;
    font-size: 1.26rem;
}

#tooltip {
    min-width: 200px;
}

.legend-container {
    position: absolute;
    right: 6px;
    bottom: 12px;
    background-color: #3333;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0 0 2px #666;
    border-radius: 4px; 
}

#vid {
    position: absolute;
    align-items: center;
    padding:10%;
    padding-top: 30%;
}